#pagetitle{
	/*font-size: 5vw;*/
	/*color: darkslateblue;*/
	text-transform: uppercase;
	text-align: center;
	font-family: 'Comic Sans MS';
}

html, body{
	min-height: 95vh;
}

input[type=button] {
	margin: 10px;
	color: white;
	background-color: grey;
	border-radius: 2rem;
	min-width: 40px;
	min-height: 40px;
}

#calcula {
	background-color: blue;
}

output, label {
	text-align: center;
}