.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btnEdit, .btnView, .btnDelete {
  color: white;
  border: 1px solid black;
  margin: 0px 10px 0px 10px;
}

.btnEdit, .btnView {
  background-color: lightslategrey;
  color: white;
  border: 1px solid black;
  
}

.btnEdit:hover, .btnView:hover {
  background-color: lightseagreen;
  color:black;
  border: 1px solid black;
}

.btnDelete {
  background-color: red;
  
}

.btnDelete:hover {
  background-color: lightcoral;
  border: 1px solid black;
}

.listFilms {
  margin-left: 2vw;
}

form{
  margin-bottom: 10vw;
  padding-left: 2vw;
}

select[multiple=true] {
  margin: 10vw;
}