.mainFooter {
    text-align: center;
}

.activeMenu {
    color: black;
    font-weight: bold;
}

.navbar {
    padding-left: 2vw;
    border-bottom: 1px solid black;
    background-color: #7fa9c7;
}

.navbar > ul{
    text-align: right;
}