#pagetitle{
    font-size: 5vw;
    color: darkslateblue;
    text-transform: uppercase;
    text-align: center;
	font-family: 'Comic Sans MS';
	margin-top: 10vw;
}

html, body{
    min-height: 95vh;
}

body{
    font-family: Arial, Helvetica;
    background-color: mistyrose;
    display: flex;
    flex-direction: column;
}

.content{
    flex: 1;
}

footer{
    text-align: center;
	font-size: 1.5vw;
}

h1{
	animation-name: blinkingText;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes blinkingText {
	0% {color: transparent;}
	80% {color: transparent;}
	100% {color: darkslateblue;}
}