body{
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	margin: auto;
	padding: 0px 20px 0px 0px;
}

header {
	background-color: green;
	margin: 0;
	padding: 0;
}

footer {
	margin-top: 100px;
	border-top: 2px solid black;
	text-align: center;
}